<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Alke Wallet</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
    
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
          <img src="assets/imgs/logo2.png" class="alke_logo">
        </div>
          <div class="row justify-content-center">
          
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Bienvenid@!</h3>
                        <h4>Ingresa tu correo y contraseña para entrar</h4>
                    </div>
                    <div class="card-body">
                         <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="username">Usuario</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" >Ingresar</button>
                        </form>
                        <p class="text-center mt-3">¿No tienes una cuenta? <a th:href="@{/registerform}" class="text-success">Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
