<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tu Cuenta - Alke Wallet</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">   
        
    </head>
    
<body>


	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	      <a class="navbar-brand" href="/"><img src="../assets/imgs/logo2.png" class="alke_logo_menu"></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarCollapse">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="cartola">Mis Transacciones</a>
	          </li>
	          <li class="nav-item">
	              <a class="nav-link" href="clientes/transferir">Transferir</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="clientes/deposito">Deposito</a>
	            </li> 
	        </ul>
	        <div class="form-inline mt-2 mt-md-0">            
	          <a href="logout" class="btn btn-outline-success my-2 my-sm-0">SALIR</a>
	        </div>
	      </div>
	    </nav>
  <main role="main" class="container">  
    <div class="jumbotron">
    <h2>Depositar</h2>
    <form th:action="@{/clientes/transferir}" method="post">
      <div class="form-group">
        <label for="ctaOrigen">Cuenta Origen:</label>
        <h2>Tu saldo actual es: <span th:text="${clienteActual.cuenta.saldo}">Saldo</span></h2>
		<input type="hidden" name="idClienteOrigen" th:value="${clienteActual.cuenta.id}">
      </div>
	  <div class="form-group">
                  <label for="idClienteDestino">Cliente Destino:</label>
                  <select id="idClienteDestino" name="idClienteDestino" class="form-control">
                      <option th:each="cliente : ${clientes}" th:value="${cliente.cuenta.id}" th:text="${cliente.nombre}"></option>
                  </select>
  </div>
      <div class="form-group">
        <label for="depositAmount">Monto a depositar:</label>
        <input type="number" class="form-control" id="monto" name="monto" placeholder="Ingrese un valor" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Realizar depósito</button>
    </form>
    <a href="../" class="btn btn-secondary btn-lg btn-block">Volver al Menú Principal</a>
  </div>
  </main>

  



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
</body>
</html>