<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tu Cuenta - Alke Wallet</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">   
        
    </head>
    
<body>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href=".index.html"><img src="assets/imgs/logo2.png" class="alke_logo_menu"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cartola">Mis Transacciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="clientes/transferir">Transferir</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="clientes/deposito">Deposito</a>
              </li> 
          </ul>
          <div class="form-inline mt-2 mt-md-0">            
            <a href="logout" class="btn btn-outline-success my-2 my-sm-0">SALIR</a>
          </div>
        </div>
      </nav>
  
      <main role="main" class="container">
        <div class="jumbotron">
          <h1 th:text="Bienvenido + ' ' + ${usuario.username}">Bienvenido! </h1>
		  
		  <div th:if="${cliente != null}">
		          <h2>Cliente</h2>
		          <p>Nombre: <span th:text="${cliente.nombre}">Nombre</span></p>
				  <p>RUT: <span th:text="${cliente.rut}">RUT</span></p>
				  <p>Email: <span th:text="${cliente.email}">email</span></p>
		          
		          
	      </div>
		  
		  <div th:if="${cuenta != null}">
		          <h2>Cuenta</h2>
				  <h2>Saldo: $<span th:text="${cuenta.saldo}">Saldo</span>.-</h2>
		          
		      </div>
		  
          
        </div>
      </main>
      <section class="acciones">
        <div class="container">
          <div class="row text-center">
            <div class="col align-middle">
              <a href="/" class="MisAcciones"><i class="fas fa-wallet"></i> Mi Cuenta</a>
            </div>
            <div class="col align-middle">
              <a href="clientes/transferir" class="MisAcciones"><i class="fas fa-exchange-alt"></i> Transferir</a>
            </div>
            <div class="col">
              <a href="clientes/deposito" class="MisAcciones"><i class="fas fa-hand-holding-usd"></i> Depositos</a>
            </div>
            <div class="col">
              <a href="cartola" class="MisAcciones"><i class="fas fa-history"></i> Mis Transacciones</a>
            </div>
          </div>
        </div>
      </section>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>